<html>
  <body style="background-color:rgb(221, 8, 92)">
    <h1>You Karate Chopskied <%=@game.player_2.name%></h1>
    <p><%=@game.player_2.name%> HP: <%=@game.player_2.hit_points%></p>
  </body>
</html>
