<html>
  <h1><center>Welcome to Battle. Your death awaits</h1></center>
    <body style="background-color:rgb(8, 168, 152);">
      <form action="/players" method="get">
        <div class="button">
          <center><button style="height:50px;width:100px" type="submit"><h1>Play!</h1></button></center>
        </div>
      </form>
    </body>
</html>