<html>
  <body style="background-color:rgb(4, 215, 252);">
    <h1><center><%= @player_1.name %> vs. <%= @player_2.name %></center></h1>
      <h3><%=@player_2.name%> HP</h3>
      <form action="/attack" method="get">
        <div class="button">
          <button type="submit">Karate Chopskies!</button>
        </div>
      </form>
  </body>
 </html>
