<html>
  <body style="background-color:rgb(7, 124, 112);">   
    <h1>Enter Player Names</h1>   
      <form action="/names" method="post">
        <label for="player_1">
          Player 1 Name
            <input type="text" name="player_1">
        </label>
        <label for="player_2">
          Player 2 Name
            <input type="text" name="player_2">
        </label>
        <input type="submit" value="Submit">
      </form>
  </body>
</html>
